# PORTS
APP_API_PORT=
APP_WEBAPP_PORT=
APP_WEBSITE_PORT=

#APPLICATION
JWT_SECRET=
GOOGLE_REDIRECT_URI=
APP_CLIENT_URL=
APP_WEBSITE_URL=


#DB
DATABASE_URL=
DIRECT_URL=

#SUPABASE
SUPABASE_SS_MODULE_INFRA_PROJECT_PASSWORD=
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_KEY=
SUPABASE_PUBLISHABLE_KEY=

#GOOGLE OAUTH
CLIENT_ID=
CLIENT_SECRET=

#OPENROUTER
OPENROUTER_API_KEY=

#TAVILY
TAVILY_API_KEY=

